body {
    height: 330vh;
    background: linear-gradient(144.63deg, #3c4865 17.57%, #000000 80.96%);
    margin: 0;
}
header{
    margin: 20px 3vw 40px 3vw;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.sitebar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
}
.link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
}
.linkbutton {
    display: inline-block;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.link:hover {
    transition: 2.5s;
    text-decoration: underline;
}
.hr {
    color: #269E3A;
    background-color: #269E3A;
}
.mainText {
    font-family: 'Merriweather';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 80px;

color: #E8E8E8;
margin: 150px 3vw 150px 6vw;

}
.setion2 {
    background: #FBFBFB;
    margin: 0;
    
}
.title {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    
    color: #000000;
    

}
.BigTitle {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 48px;
    color: #FFF;
}
.section2text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin: 50px 0 50px 6vw;
    color: #000000;
    max-width: 40vw;
}
.section2text:last-child{
    margin: 10px 0 50px 6vw;
}
.title2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    margin: 0 0 0 6vw;
    color: #000000;
}

.section3 {

}
.title3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
}
.section31 {
    margin: 140px 0 0 6vw;
    max-width: 600px;

}
.title31 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    
    color: #FFFFFF;
}
.section31text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
}
.section4title{
margin: 200px 0 60px 0;
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 48px;
text-align: center;
color: #FFFFFF;
}
.section4 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 0 100px 0;
}
.image {
    width: 20vw;
    object-fit: fill;
}
.image:last-child{
    width: 25vw;
}
.button_ {
    display: flex;
    justify-content: space-around;
}
footer {
    margin-top: 100px;
    background-color: #000000;
    left: 0;
    bottom: 0;
}
.input {
    background: #E7E7E7;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    width: 500px;
    height: 50px;
    padding: 10px;
    font-size: 30px;
}

.formdiv {
    max-width: 50%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.Title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
}

.button {
    min-width: 100%;
    height: 64px;
    background: #C94318;
    border-radius: 20px;
    border: none;
    padding: 10px;
}

.button2 {
    min-width: 100%;
    height: 64px;
    background: #C94318;
    border-radius: 20px;
    border: none;
    padding: 10px;
}
form {
    align-items: center;
    display:flex;
    flex-direction: column;
    border: 3px solid #FFFFFF;
    border-radius: 20px;
    min-width: 50%;
    padding: 10px;
}
.task {
    
    display: flex;
    flex-direction: column;
    border: 3px solid #FFFFFF;
    border-radius: 20px;
    padding: 10px;
    background: #FFF;
    color: #000000;
    margin: 10px;

}
.text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}
.texttask {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #696969;
    float: left;
}
.texttaskT {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000;
    text-align:left;
}
.texttaskdatag {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #269E3A;
    float: left;
}
.texttaskdatar {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #C94318;
    float: left;
}